<div
  class="border border-red-100 rounded-md shadow-md p-4 flex justify-center items-center"
>
  <div>
    <div class="error_detail_container">
      <mat-icon fontIcon="face_2" class="text-indigo-200"  />
      <h1 class="text-sm text-red-300">
        <span class="text-red-400 font-semibold tracking-wide"
          >Oops! We couldn't find what you're looking for.</span
        >
        Please try searching with different keywords! Or Follow the following
        steps to find more curated results.
      </h1>
    </div>
    <ul class="text-sm mt-2 text-indigo-300">
      <li class="flex gap-1 items-center">
        <mat-icon fontIcon="check" />
        If you are not sure about the city's full name type atleast 3-4 correct
        characters and search
      </li>
      <li class="flex gap-1 items-center">
        <mat-icon fontIcon="check" />
        Try searching with the zipcode
      </li>
      <li class="flex gap-1 items-center">
        <mat-icon fontIcon="check" />
        Check if other cities are working!
      </li>
    </ul>
  </div>
</div>
